.feed{
    width: 100vw;
    height:auto;
    color: white;
    background: var(--soft-black);
}

#feed-container{
    padding:0;
    height: auto;
}

#header-container{
    padding: 2rem 1rem;
    min-width:calc(100% - 2rem);
    height:6rem;
    display: flex;
    justify-content: space-between;
    align-items: top;
}

#header-container .profile-photo{
    display:flex;
    margin:0 .7rem 0 0;
    width:4rem;
    height:4rem;
}
.profile-photo .photo{
    border-radius:50%;
    aspect-ratio:1;
}
.main-container{
    border-bottom: 1px solid var(--separator);
    border-top: 0px solid var(--separator);
    border-left: 1px solid var(--separator);
    border-right: 1px solid var(--separator);
    margin: auto;
    max-width:600px;
    /* background: var(--violeta); */
}
.main-container #logo{
    width:20%;
    padding: .5rem;
}

.main-container .logoHome{
    display: flex;
    flex-direction: row-reverse;
    justify-content:space-between;
    align-items:center;
}

.main-container h3{
    padding: .5rem;
}

.post{
    margin: auto;
    max-width:600px;
    padding-top: 1rem;
}


.input-post{
    font-family:'Nunito Sans',sans-serif;
    max-width: 100%;
    font-size:1rem;

    display: flex;
    height:3rem;
    color: white;
    border: none;
    resize:none;
    background: none;
    text-align: left;
}

.text-post:focus{
    outline: none;
}



#input-post-area{
   
    position: relative;
    justify-content:space-between;
    width: 100%;
    height:6rem;
    display: flex;
    flex-direction:column;
}

#publicar{
    font-family:'Nunito Sans',sans-serif; 
    position:absolute;
    right:0;
    bottom: 0rem;
    width:8rem;
    height:2rem;
}

#publicar .Mui-disabled{
    background-color: aqua;
}