#create-account{
    width: 10rem;
}

#create-acc{
    font-family: "Nunito Sans", sans-serif;
    width:10rem;
}
.btn-group{
    margin-top:1.4rem ;
    justify-content:space-between;
    display:flex;
    flex-direction:row;
}
#text-login{
    font-family: "Nunito Sans", sans-serif;
    font-size:.7rem;
}